@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Arimo');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$brand: #45546d;

// Update Bulma's global variables
$family-sans-serif: "Arimo", sans-serif;
$primary: $brand;
$link: $pink;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/box.sass";
@import "../bulma/sass/elements/button.sass";
@import "../bulma/sass/elements/container.sass";
@import "../bulma/sass/elements/form.sass";
@import "../bulma/sass/elements/title.sass";
@import "../bulma/sass/components/navbar.sass";
@import "../bulma/sass/components/message.sass";
@import "../bulma/sass/components/level.sass";
@import "../bulma/sass/components/modal.sass";
@import "../bulma/sass/layout/hero.sass";
@import "../bulma/sass/layout/section.sass";
@import "../bulma/sass/grid/columns.sass";

@import "../bulma-pricingtable/dist/css/bulma-pricingtable.sass";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

section {
  flex: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted $black-ter; 

  .tooltiptext {
    visibility: hidden;
    width: 210px;
    background-color: $black-ter;
    color: $grey-lighter;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -105px;
  }

  &:hover {
    color: $link;
    .tooltiptext {
      visibility: visible;
    }
  }
}
