<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "nav.html" . -}}

        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}
    </body>
    {{- template "_internal/google_analytics_async.html" . -}}
    {{- partial "html_footer.html" . -}}
    {{- partial "_js_footer.html" . -}}
</html>
