{{ define "main" }}
<section class="section">
  <div class="container is-widescreen">
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">{{ .Content }}</div>
  </div>
</section>
{{ end }}
