{{- with .Site.Params.contact.firebase -}}
  {{ if .enable }}
  {{ $js := resources.Get "js/contact_form_firebase.js" | minify | fingerprint }}
  <script>
    const config = {
      apiey: "{{ .apikey }}",
      authDomain: "{{ .authdomain }}",
      databaseURL: "{{ .databaseurl }}",
      projectId: "{{ .projectid }}",
      storageBucket: "{{ .storagebucket }}",
      messagingSenderId: "{{ .messagingsenderid }}",
    };
    const newsletterRef = "{{ .collectionnewsletter }}";
    const interestRef = "{{ .collectionsignup }}";
  </script>
  <script type="text/javascript" src="{{ $js.RelPermalink }}"  integrity="{{ $js.Data.Integrity }}" async defer></script>
  {{ end }}
{{ end }}

{{- with .Site.Params.cookieconsent -}}
{{ if .enable }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" async></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252e39"
    },
    "button": {
      "background": "#14a7d0"
    }
  },
  "theme": "edgeless",
  "content": {
    "href": "{{ .policyurl | relLangURL }}"
  }
})});
</script>
{{ end }}
{{ end }}