{{ with .Site.Params.cta }}
{{ if .enable }}
<a name="cta"></a>
<section id="cta" class="hero is-small is-primary">
  <div class="hero-body">
    <div class="container is-widescreen has-text-centered">
      {{ with .title }}<h1 class="title">{{ . }}</h1>{{ end }}
      {{ with .subtitle }}<h2 class="subtitle">{{ . }}</h2>{{ end }}
      {{ with .button }}
      {{ if .enable }}
      <a href="{{ .url }}" class="button is-primary is-inverted is-outline">
        <span class="icon"><i class="fas fa-rocket"></i></span>
        <span>{{ .text }}</span>
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}