{{ with .Site.Params.faq }}
{{ if .enable }}
<a name="faq"></a>
<section id="faq" class="section">
  <div class="container is-widescreen">
    {{ with .title }}<h1 class="title is-centerd">{{ . }}</h1>{{ end }}
    {{ with .subtitle }}<h2 class="subtitle is-centered">{{ . }}</h2>{{ end }}
    <div class="columns section is-multiline">
      {{ range .qa }}
      <div class="column is-half">
        <div class="question has-text-weight-bold">Q: {{ .question | safeHTML }}</div>
        <div class="answer has-text-weight-light">A: {{ .answer | safeHTML }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}