{{ with .Site.Params.features }}
{{ if .enable }}
<a name="features"></a>
<section id="features" class="section">
  <div class="container is-widescreen">
    <h1 class="title has-text-centered is-2">{{ .title }}</h1>
    <h2 class="subtitle is-3 has-text-centered">{{ .subtitle }}</h2>
    <div class="columns is-centered">
      {{ range .col }}
      <div class="column is-one-quarter">
        <h1 class="title is-5">{{ .title }}</h1>
        <ul class="fa-ul">
          {{ range .feature }}
          <li>
            <span class="fa-li" >
              <i class="fas fa-check-circle"></i>
            </span>
            <div class="tooltip">
              {{ .title }}
              <span class="tooltiptext">{{ .tooltip | safeHTML }}</span>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}