<a name="footer"></a>
<footer id="footer" class="footer section">
  <div class="container is-widescreen">
    <div class="columns" style="align-items: flex-end;">
      <div class="column">
        <h1 class="title is-6">Email newsletter</h1>
        <form class="form" id="newsletter_form">
          <div class="field has-addons">
              <input class="input" type="email" placeholder="Enter email for updates" id="newsletter_email" required>
            <div class="control">
              <button class="button is-dark" type="submit">Sign-Up</button>
            </div>
          </div>
        </form>
      </div>
      <div class="column">
        <div class="columns"  style="align-items: flex-end;">
          <div class="column">
            {{ with .Site.Params.footer }}
            <ul style="margin-top: auto;">
              {{ range .right }}
              <li><a href="{{ .url }}">{{ .name }}</a></li>
              {{ end }}
            </ul>
            {{ end }}
          </div>
          {{ with .Site.Params.social }}
          <div class="column">
            <div class="level is-mobile">
              {{ with .facebook }}<a href="{{ . }}"><div class="level-item has-text-centered"><i class="fab fa-2x fa-facebook-square"></i></div>{{ end }}</a>
              {{ with .twitter }}<a href="{{ . }}"><div class="level-item has-text-centered"><i class="fab fa-2x fa-twitter-square"></i></div>{{ end }}</a>
              {{ with .instagram }}<a href="{{ . }}"><div class="level-item has-text-centered"><i class="fab fa-2x fa-instagram"></i></div>{{ end }}</a>
              {{ with .github }}<a href="{{ . }}"><div class="level-item has-text-centered"><i class="fab fa-2x fa-github-square"></i></div>{{ end }}</a>
              {{ with .gitlab }}<a href="{{ . }}"><div class="level-item has-text-centered"><i class="fab fa-2x fa-gitlab"></i></div></a>{{ end }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</footer>