{{ with .Site.Params.header }}
{{ if .enable }}
<a name="header"></a>
<section id="header" class="hero is-medium">
  <div class="hero-body" {{ if .backgroundimage }}style="background-image: url({{ .backgroundimage | relURL }}); background-size: cover; background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({{ .backgroundimage | relURL }});"{{ end }}>
    <div class="container is-widescreen">
      <div class="columns">
        <div class="column is-half">
          {{ with .title }}<h1 class="title is-3 has-text-grey-lighter">{{ . }}</h1>{{ end }}
          {{ with .subtitle }}<h2 class="subtitle is-3 has-text-grey-lighter">{{ . }}</h2>{{ end }}
          {{ with .body }}<h3 class="subtitle is-4 has-text-grey-lighter">{{ . }}</h3>{{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
