<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{- partial "_css.html" . -}}

<title>{{ .Site.Title }}</title>

{{ template "_internal/opengraph.html" . }}
