{{ with .Site.Params.message }}
{{ if .enable }}
<a name="message"></a>
<section id="message" class="section">
  <div class="columns is-centered">
    <div class="column is-three-quarters">
      <article class="message {{ .level }}">
        <div class="message-header">
          <p>{{ .title }}</p>
          {{ if .can_close }}<button class="delete" aria-label="delete"></button>{{ end }}
        </div>
        <div class="message-body">
          {{ .body }}
        </div>
      </article>
    </div>
  </div>
</section>
{{ end }}
{{ end }}