{{ with .Site.Params.success_modal }}
<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <article class="media">
        <div class="media-left"></div>
        <div class="media-content">
          <div class="content has-text-centered">
            <h1 class="title is-4">{{ .title }}</h1>
            <p>{{ .content | safeHTML }}</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
{{ end }}