  {{ $currentPage := . }}
  <a name="nav"></a>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container is-widescreen">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ "/" | relLangURL }}">
          {{ with .Site.Params.nav.logo }}<img src="{{ .path | relLangURL }}" alt="Home" {{ if .height }}height="{{ .height }}"{{ end }} {{ if .width }}width="{{ .width }}"{{ end }}>{{ end }}
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
          {{ range .Site.Menus.main }}
          <span aria-hidden="true"></span>
          {{ end }}
        </a>
      </div>
      <div id="navbarMain" class="navbar-menu">
        <div class="navbar-end">
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <div class="navbar-item has-dropdown is-hoverable">
              <a href="{{ .URL }}" class="navbar-link">{{ .Name }}</a>
              <div class="navbar-dropdown">
                {{ range .Children}}
                <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
                {{ end }}
              </div>
            </div>
            {{ else }}
            <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </nav>