<a name="signup"></a>
<h1 class="title">{{ .title }}</h1>
<div class="content">
  {{ .content }}
</div>
<form class="section has-text-right" id="interest_form">
  <div class="field"><input class="input" type="text" placeholder="Name" id="interest_name" required></div>
  <div class="field"><input class="input" type="email" placeholder="Email Address" id="interest_email" required></div>
  <div class="field"><input class="input" type="text" placeholder="Company" id="interest_company" required></div>
  <div class="field"><input class="input" type="text" placeholder="Company Location" id="interest_company_location" required></div>
  <div class="field"><input class="input" type="text" placeholder="Estimated monthly active users" id="interest_mau" inputmode="numeric" min="0" pattern="\d+" required></div>

  {{ with .button }}
  <button class="button is-warning" type="submit">{{ .title }}</button>
  {{ end }}
</form>
