{{ with .Site.Params.pricing }}
{{ if .enable }}
<a name="pricing"></a>
<section id="pricing" class="section">
  <div class="container is-widescreen">
    <div class="columns {{ if not .signup.enable}}is-centered{{ end }}">
      <div class="column {{ if .signup.enable }}is-half{{ end }}">
        <div class="pricing-table">
          {{ range .plans }}
          <div class="pricing-plan {{ if .highlight }}is-active{{ end }}">
            <div class="plan-header">{{ .name }}</div>
            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">{{ .currency }}</span>{{ .price }}</span>{{ with .unit }}/{{ .quantity}} {{ .name }}</div>{{ end }}
            <div class="plan-items">
              {{ range .features }}
              <div class="plan-item">{{ . }}</div>
              {{ end }}
            </div>
            <div class="plan-footer">
              <button class="button is-fullwidth" disabled="disabled">Free during Beta</button>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ with .signup }}
      {{ if .enable }}
      <div class="column is-half">
        {{ partial "pricing-signup.html" . }}
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}