{{ with .Site.Params.story }}
{{ if .enable }}
<a name="story"></a>
<section id="story" class="section" >
  <div class="container is-widescreen">
    {{ with .title }}<h1 class="title">{{ . }}</h1>{{ end }}
    {{ range $idx, $value := .tales }}
    <div class="columns is-vcentered">

      {{ if eq (mod $idx 2) 0 }}
      <div class="column is-half has-text-centered">
        {{ with .image }}
        <figure class="image is-square">
          <img src="{{ .path | relURL }}" alt="{{ .Title }}" {{ with .height }}height="{{ . }}"{{ end }} {{ with .width }}width="{{ . }}"{{ end }}>
        </figure>
        {{ end }}
      </div>
      <div class="column is-half">
        <h1 class="title is-4">{{ .title }}</h1>
        <p>{{ .content | safeHTML }}</p>
      </div>

      {{ else }}
      <div class="column is-half">
        <h1 class="title is-4">{{ .title }}</h1>
        <p>{{ .content | safeHTML }}</p>
      </div>
      <div class="column is-half has-text-centered">
        {{ with .image }}
        <figure class="image is-square">
          <img src="{{ .path | relURL }}" alt="{{ .Title }}" {{ with .height }}height="{{ . }}"{{ end }} {{ with .width }}width="{{ . }}"{{ end }}>
        </figure>
        {{ end }}
      </div>
      {{ end }}

    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}