{{ define "main" }}
<section class="section">
  <div class="container is-widescreen">
    <figure class="section has-text-centered image is-3by1"><img src="{{ "images/404.svg" | relLangURL }}" alt="404 not found"></figure>
  
    {{ with .Site.Params.notfound }}
    <h1 class="title has-text-centered has-text-primary">{{ .title }}</h1>
    <h2 class="subtitle has-text-centered has-text-primary">{{ .subtitle }}</h2>
    {{ end }}
  </div>
</section>
{{ end }}
